body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://img.freepik.com/premium-photo/lightning-rocky-sea-cliff-edge_863013-130431.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    background-position: center;
    background-color: #cccccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1 {
    text-align: center;
    color: #fff; /* White */
    font-size: 80px;
    text-shadow: -1px 0 black, 0 5px black, 5px 0 black, 0 -1px black;
    margin-bottom: 20px;
}

#input-container {
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* White */
}

input {
    padding: 10px;
    margin-bottom: 15px;
    width: 200px;
    border: 1px solid #fff; /* White */
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    padding: 12px 20px;
    background-color: #4CAF50; /* Green */
    color: #fff; /* White */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.info {
    text-align: center;
    background-color: #fff; /* White */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft Box Shadow */
    margin-top: 20px;
    display: none;
    flex-direction: column;
}

.info-title {
    color: #333; /* Dark Gray */
    margin-bottom: 20px;
}

.info-data {
    margin: 8px 0;
    color: #555; /* Medium Gray */
    font-size: 20px;
}